{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}


{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for msg in messages %}
		<div class="alert alert-danger" role="alert">
  		{{ msg }}
		</div>
		<br>
		{% endfor %}
	{% endif %}
{% endwith %}

<br><br>
    <div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="https://i.imgur.com/89SVtyf.png" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form action = "/register" method="post">
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" autocomplete = "off" name="username" class="form-control input_user" autofocus placeholder="Username">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password" class="form-control input_pass" placeholder="Password">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="confirmation" class="form-control input_pass" placeholder="Confirm Password">
						</div>
						<div class="d-flex justify-content-center mt-3 login_container">
				 	         <button name="button" class="btn login_btn" type="submit">Register</button>
				        </div>
					</form>
				</div>
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Have an account? <a href="/login" class="ml-2">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}